# Android
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml
*.iws
*.ipr

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# System
Thumbs.db
.DS_Store
